<h1>Dashboard</h1>
<div class="row">
  <div class="col-4">
    <div class="card">
      <%= render 'candidates', candidates: @candidates %>
    </div>
  </div>
  <div class="col-8">
    <% if @upcoming_events.present? %>
      <div class="row">
        <div class="col">
          <div class="card">
            <%= render 'events', events: @upcoming_events %>
          </div>
        </div>
      </div>
    <% end %>
    <br>
    <% if @incompleted_offers.present? %>
      <div class="row">
        <div class="col">
          <div class="card">
            <%= render 'incompleted_offers' %>
          </div>
        </div>
      </div>
    <% end %>
    <br>
    <div class="row">
      <div class="col-5">
        <div class="card">
          <% if current_user.has_role? :head %>
            <%= render 'overall_invoices' %>
          <% else %>
            <%= render 'income' %>
          <% end %>
        </div>
      </div>
      <div class="col-7">
        <div class="card">
          <%= render 'starting_work', placements: @sorted_placements %>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="col-2">
    <div class="row">
      <div class="col">
        <div class="card">
          <%# render 'actions' %>
        </div>
      </div>
    </div>
  </div> -->
</div>

