<div class="modal fade set-hired-modal" id="hireModal-<%=assignment.id%>" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Hire</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with url: assignment_set_hired_path(assignment), method: :patch do |ff| %>
          <div class="form-group">
            <%= ff.label :salary, "Salary (gross)" %>
            <%= ff.number_field :salary, id: :salary, class:'form-control' %>
          </div>
          <div class="form-group">
            <%= ff.label :start_date %>
            <div class="input-group date hire_date" id="datePick-<%=assignment.id%>" data-target-input="nearest">
              <%= ff.text_field :start_date, class:'form-control datetimepicker-input',
                                                    id:'datePick-#{assignment.id}',
                                                    data: { target:"#datePick-#{assignment.id}", toggle:"datetimepicker" } %>
              <div class="input-group-append" data-target="#datePick-<%= assignment.id %>" data-toggle="datetimepicker">
                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <%= ff.submit "Hire!", class:'btn btn-primary status_submit', id:'set-hired-submit' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
