<div class="modal fade set-reject-modal" id="rejectModal-<%=assignment.id%>" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Reject</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with url: assignment_set_rejected_path(assignment), method: :patch do |ff| %>
          <div class="form-group">
            <%= ff.label :reason %>
            <%= ff.text_field :reason, id: :reason, class:'form-control' %>
          </div>
          <div class="modal-footer">
            <%= ff.submit "Reject", class:'btn btn-primary status_submit', id:'set-rejected-submit' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
