<%= form_with(model: vacancy, local: true) do |form| %>
  <% if vacancy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vacancy.errors.count, "error") %> prohibited this vacancy from being saved:</h2>

      <ul>
      <% vacancy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :vacancy_name, class:'form-control' %>
  </div>
  <div class="row">
    <div class="form-group col">
      <%= form.label :telegraph_link_ru %>
      <%= form.text_field :telegraph_link_ru, id: :vacancy_telegraph_link_ru, class:'form-control' %>
    </div>

    <div class="form-group col">
      <%= form.label :telegraph_link_en %>
      <%= form.text_field :telegraph_link_en, id: :vacancy_telegraph_link_en, class:'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :vacancy_description, class:'form-control', rows: "7" %>
  </div>

  <div class="row">
    <div class="form-group">
      <%= form.label :company_id %>
      <%= form.select :company_id, options_from_collection_for_select(Company.all, :id, :name, @vacancy.company_id), {}, id: :vacancy_company_id, class:'form-control' %>
    </div>

    <div class="form-group col">
      <%= form.label :salary_min %>
      <%= form.number_field :salary_min, id: :vacancy_salary_min, class:'form-control' %>
    </div>

    <div class="form-group col">
      <%= form.label :salary_max %>
      <%= form.number_field :salary_max, id: :vacancy_salary_max, class:'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <p>Programming languages</p>
    <% Language.all.each do |lang| %>
      <%= check_box_tag "vacancy[language_ids][]", lang.id, @vacancy.language_ids.include?(lang.id) %>
      <%= lang.name %><br/>
    <% end %>
  </div>

  <div class="form-group">
    <p>Assigned candidates</p>
    <ul>
      <% @vacancy.candidates.each do |candidate| %>
        <li><%= candidate.name %></li>
      <% end %>
    </ul>
  </div>

  <div class="actions">
    <%= form.submit "Submit", class:'btn btn-primary' %>
  </div>
<% end %>
