<div id="accordion">
  <% vacancies_by_company.each do |company, vacancies| %>
    <div class="card">
      <div class="card-header" id="heading<%= company.id %>">
        <div class="row">
          <div class="col-2">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapse<%= company.id %>" aria-expanded="true" aria-controls="collapse<%= company.id %>">
                <%= company.name %>
              </button>
            </h5>
          </div>
          <div class="col pull-right">
            <p>
              processing:
              <%= candidates_in_progress(company) %>
              <%= "candidate".pluralize(candidates_in_progress(company)) %>
            </p>
          </div>
        </div>
      </div>
      <div id="collapse<%= company.id %>" class="collapse" aria-labelledby="heading<%= company.id %>" data-parent="#accordion">
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Salary(net)</th>
                <th>Description</th>
                <th>TG_Ru</th>
                <th>TG_En</th>
                <th colspan="2"></th>
              </tr>
            </thead>
            <tbody>
              <% vacancies.each do |vacancy| %>
                <tr <%= 'class=table-secondary' if vacancy.closed? %>>
                  <td><%= link_to vacancy.name, vacancy %></td>
                  <td><%= vacancy.salary_min %> - <%= vacancy.salary_max %> EUR</td>
                  <%= check_completion(vacancy.description) %>
                  <%= check_completion(vacancy.telegraph_link_ru) %>
                  <%= check_completion(vacancy.telegraph_link_en) %>
                  <td><%= link_to 'Edit', edit_vacancy_path(vacancy) %></td>
                  <td><%= link_to 'Delete', vacancy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br>
  <% end %>
</div>
