<p id="notice"><%= notice %></p>

<h1>Vacancies</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Company</th>
      <th>Salary</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @vacancies.each do |vacancy| %>
      <tr <%= 'class=table-secondary' if vacancy.closed? %>>
        <td><%= link_to vacancy.name, vacancy %></td>
        <td><%= link_to vacancy.company.name, vacancy.company %></td>
        <td><%= vacancy.salary_min %> - <%= vacancy.salary_max %> EUR</td>
        <td><%= link_to 'Edit', edit_vacancy_path(vacancy) %></td>
        <td><%= link_to 'Delete', vacancy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vacancy', new_vacancy_path %>
