<p id="notice"><%= notice %></p>

<h1><%= @vacancy.name %> at <%= @vacancy.company.name %></h1>

<p>
  <strong>Telegraph link ru:</strong>
  <%= @vacancy.telegraph_link_ru %>
</p>

<p>
  <strong>Telegraph link en:</strong>
  <%= @vacancy.telegraph_link_en %>
</p>

<p>
  <strong>Description:</strong>
  <%= @vacancy.description %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @vacancy.salary_min %> - <%= @vacancy.salary_max %> EUR Net
</p>
<% if @vacancy.candidates.present? %>
  <div class="form-group">
    <h2>Assigned candidates</h2>
    <ul>
      <% @vacancy.candidates.each do |candidate| %>
        <li><%= candidate.name %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= link_to 'Edit', edit_vacancy_path(@vacancy) %> |
<%= link_to 'Back', vacancies_path %>
