<div class="row">
  <div class="col">
    <h1><%= @vacancy.name %> at <%= @vacancy.company.name %></h1>
  </div>
  <div class="col">
    <div class="btn-group" role="group" aria-label="Basic example">
      <%= link_to 'Edit', edit_vacancy_path(@vacancy), class:'btn btn-primary' %>
      <%= link_to "Create Telegraph page", { controller: "vacancies",
                                                action: "create_vacancy_on_telegraph",
                                                id: @vacancy.id },
                                            class:'btn btn-success' %>
      <%= link_to 'Back', vacancies_path, class:'btn btn-secondary' %>
    </div>
  </div>
</div>


<div class="row">
  <div class="col">
    <strong>Telegraph link ru:</strong>
    <%= @vacancy.telegraph_link_ru %>
  </div>
  <div class="col">
    <strong>Telegraph link en:</strong>
    <%= @vacancy.telegraph_link_en %>
  </div>
</div>

<p>
  <strong>Description:</strong>
  <%= simple_format @vacancy.description %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @vacancy.salary_min %> - <%= @vacancy.salary_max %> EUR Net
</p>
<div class="row">
  <div class="col-6">
    <% if @vacancy.candidates.present? %>
      <h2>Assigned candidates</h2>
      <%= render 'vacancy_candidates', vacancy: @vacancy %>
    <% end %>
  </div>
</div>
