<%= form_with(model: user, local: true) do |f| %>
   <div class='row'>
      <div class="form-group col">
         <%= f.label :name %><br />
         <%= f.text_field :name, class:"form-control" %>
      </div>

      <div class="form-group col-2">
         <%= f.label :email %><br />
         <%= f.text_field :email, class:"form-control" %>
      </div>

      <div class="form-group col">
         <%= f.label :password %> <small>(leave blank if you don't want to change)</small><br />
         <%= f.password_field :password, class:"form-control" %>
      </div>
      <% if current_user.has_any_role? :admin, :head) %>
         <div class="form-group col-2">
            <%= f.label :role_ids, "Role" %>
            <%= f.collection_select :role_ids, Role.all, :id, :name, {}, { class:"form-control" } %>
         </div>

         <div class="form-group col-1">
            <%= f.label :active %><br />
            <%= f.check_box :active, { class:"form-control" }, "true", "false" %>
         </div>
      <% end %>
   </div>

   <% if current_user.has_any_role? :admin, :head %>
      <div class='row'>
         <div class="form-group col-3">
           <%= f.label :pay_type, "Pay scheme" %>
           <%= f.select :pay_type, User.pay_types.keys, { selected: @user.pay_type }, { class:'form-control' } %>
         </div>

         <% if @user.share? %>
            <div class="form-group col-2">
               <%= f.label :base_salary %><br />
               <%= f.text_field :base_salary, class:"form-control" %>
            </div>

            <div class="form-group col-2">
               <%= f.label :salary_threshold %><br />
               <%= f.text_field :salary_threshold, class:"form-control" %>
            </div>

            <div class="form-group col-2">
               <%= f.label :bonus_salary_rate %><br />
               <%= f.text_field :bonus_salary_rate, class:"form-control" %>
            </div>

         <% elsif @user.fixed_rate? %>
            <div class="form-group col-2">
               <%= f.label :rate_per_candidate %><br />
               <%= f.text_field :rate_per_candidate, class:"form-control" %>
            </div>
         <% end %>
      </div>
   <% end %>

   <h2>Telegraph API settings</h2>
   <div class="jumbotron">
      <div class="row">
         <div class="form-group col">
            <%= f.label :short_name %>
            <%= f.text_field :short_name, class:"form-control" %>
         </div>

         <div class="form-group col">
            <%= f.label :author_name %>
            <%= f.text_field :author_name, class:"form-control" %>
         </div>

         <div class="form-group col">
            <%= f.label :author_url %>
            <%= f.text_field :author_url, class:"form-control" %>
         </div>
      </div>
      <div class="row">
         <div class="form-group col">
            <%= f.label :auth_url %>
            <%= f.text_field :auth_url, class:"form-control", disabled: true %>
         </div>
         <div class="form-group col">
            <%= f.label :access_token %>
            <%= f.text_field :access_token, class:"form-control", disabled: true %>
         </div>
      </div>

      <div class="form-group">
       <%= f.label :vacancy_footer %>
       <%= f.text_area :vacancy_footer, id: :company_vacancy_footer, class:'form-control', rows: 10 %>
     </div>
   </div>

   <h2>Telegram API settings</h2>
   <div class="jumbotron">
      <div class="row">
         <div class="form-group col">
            <%= f.label :telegram_api_id, "Telegram API id" %>
            <%= f.text_field :telegram_api_id, class:"form-control" %>
         </div>

         <div class="form-group col">
            <%= f.label :telegram_api_hash %>
            <%= f.text_field :telegram_api_hash, class:"form-control" %>
         </div>

         <div class="form-group col">
            <%= f.label :phone_number %>
            <%= f.text_field :phone_number, class:"form-control" %>
         </div>
      </div>
   </div>

   <div class="actions">
      <%= f.submit "Submit", class:'btn btn-primary' %>
   </div>
<% end %>
