<div class="row">
  <div class="col">
    <h1><%= @user.name %></h1>
  </div>
  <div class="col">
    <div class="btn-group" role="group" aria-label="Basic example">
      <%= link_to 'Edit', edit_user_path(@user), class:'btn btn-primary' %>
      <%= link_to "Create Telegraph account", { controller: "users",
                                                action: "create_telegraph_account",
                                                id: @user.id },
                                            class:'btn btn-success' %>
      <%= link_to "Delete Telegraph account", { controller: "users",
                                                action: "delete_telegraph_account",
                                                id: @user.id },
                                            class:'btn btn-danger' %>
      <%= link_to 'Back', users_path, class:'btn btn-secondary' %>
    </div>
  </div>
</div>

<p>
  <strong>email:</strong>
  <%= @user.email %>
</p>

<h3>Telegram data</h3>
<p>
  <strong>Short name:</strong>
  <%= @user.short_name %>
</p>

<p>
  <strong>Author name:</strong>
  <%= @user.author_name %>
</p>

<p>
  <strong>Author url:</strong>
  <%= @user.author_url %>
</p>

<p>
  <strong>Auth_url:</strong>
  <%= @user.auth_url %>
</p>

<p>
  <strong>Access token:</strong>
  <%= @user.access_token %>
</p>


