<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th><small>Done</small></th>
      <th><small>Cancel</small></th>
      <th><small>Delete</small></th>
    </tr>
  </thead>

  <tbody>
    <% events.each do |event| %>
      <tr>
        <td><%= event_name(event) %> </td>
        <td><%= event.scheduled_on.strftime("%d\'%b %R") %></td>
        <td>
          <%= link_to fa_icon('check'), {controller: 'events', action:'set_done', id: event.id}, class:'btn btn-outline-success' %>
        </td>
        <td>
          <%= link_to fa_icon('times'), {controller: 'events', action:'set_cancelled', id: event.id}, class:'btn btn-outline-warning' %>
        </td>
        <td>
          <%= link_to fa_icon('ban'), event, method: :delete, class:'btn btn-outline-danger', data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
