<%= form.fields_for(:assignments) do |f| %>
  <div class="form-group col">
    <% if f.object.hired? %>
      <h4><%= assignment_label(f.object) %></h4>
      <p>
        hired
        <% if current_user.has_role? :admin || current_user == @candidate.user %>
          with salary <%= f.object.salary %> EUR gross
        <% end %>
        on <%= f.object.finish_date %>
      </p>
      <%= link_to "Reset", assignment_reset_status_path(f.object),
                            data: {assignment_id: f.object.id},
                            class:'btn btn-danger btn-sm' %>
    <% elsif f.object.rejected? %>
      <h4><%= assignment_label(f.object) %></h4>
      <p>rejected on <%= f.object.finish_date %> because: <%= f.object.reject_reason %></p>
      <%= link_to "Reset", assignment_reset_status_path(f.object),
                            data: {assignment_id: f.object.id},
                            class:'btn btn-danger btn-sm' %>
    <% elsif f.object.withdrawn? %>
      <h4><%= assignment_label(f.object) %></h4>
      <p>withdrawn on <%= f.object.finish_date %> because: <%= f.object.withdrawn_reason %></p>
      <%= link_to "Reset", assignment_reset_status_path(f.object),
                            data: {assignment_id: f.object.id},
                            class:'btn btn-danger btn-sm' %>
    <% else %>
      <%= f.label :status, assignment_label(f.object) %>
      <%= f.text_field :status, class:'form-control' %>
      <br>
      <%= f.button "Schedule event", type:'button',
                                     class:'btn btn-success btn-sm show-modal-button',
                                     data: {toggle: "modal", target: "#eventModal", assignment_id: f.object.id} %>
      <div class="pull-right">
        <%= link_to "Hire", assignment_hire_modal_path(f.object),
                            remote: true,
                            data: {assignment_id: f.object.id},
                            class:'btn btn-success btn-sm' %>
        <%= link_to "Reject", assignment_reject_modal_path(f.object),
                            remote: true,
                            data: {assignment_id: f.object.id},
                            class:'btn btn-warning btn-sm' %>
        <%= link_to "Withdrawn", assignment_withdrawn_modal_path(f.object),
                            remote: true,
                            data: {assignment_id: f.object.id},
                            class:'btn btn-warning btn-sm' %>
        <%= link_to "Unassign", f.object, method: :delete,
                                          class:'btn btn-danger btn-sm',
                                          data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
  </div>
  <hr>
<% end %>

