<%= form.fields_for(:assignments) do |f| %>
  <div class="form-group col">
    <%= f.label :status, assignment_label(f.object) %>
    <%= f.text_field :status, class:'form-control' %>
    <br>
    <%= f.check_box :_destroy %>
    <%= f.label :_destroy, "Remove" %>
    <%= f.button "Schedule event", type:'button',
                                  class:'btn btn-success btn-sm pull-right show-modal-button',
                                  data: {toggle: "modal", target: "#eventModal", assignment_id: f.object.id} %>
  </div>
<% end %>
