<%= form.fields_for(:assignments) do |f| %>
  <div class="form-group col">
    <%= f.label :status, assignment_label(f.object) %>
    <%= f.text_field :status, class:'form-control' %>
    <%= f.check_box :_destroy %>
    <%= f.label :_destroy, "Remove" %>
  </div>
<% end %>
