<table class="table table-hover table-xl mb-0">
  <thead>
    <tr>
      <th class="border-top-0">Name</th>
      <th class="border-top-0">Status</th>
      <th class="border-top-0">Country</th>
      <th class="border-top-0">Source</th>
      <th class="border-top-0">Ownership</th>
      <th class="border-top-0"></th>
    </tr>
  </thead>

  <tbody>
    <% candidates.each do |candidate| %>
      <tr>
        <td class="text-truncate"><%= link_to candidate.name, candidate %></td>
        <td><%= candidate.status.humanize %></td>
        <td><%= candidate.country.truncate(30) %></td>
        <td><%= candidate.source.name %></td>
        <td ><%= candidate.user.name %></td>
        <td><%= link_to 'Edit', edit_candidate_path(candidate) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
