<hr>
<h3>Comments</h3>
<ul class="list-group">
  <% @comments.each do |comment| %>
      <li class="list-group-item">
        <%= comment.content %>
        <div class="pull-right">
          <small>
            created at: <%= comment.created_at.strftime('%d %h %y, %H:%M') %>
          </small>
          <small>
            by <%= comment.user.name %>
            <%= link_to (fa_icon 'times'), comment, method: :delete, data: { confirm: 'Are you sure?' } %>
          </small>
        </div>
      </li>
  <% end %>
</ul>
<hr>
<%= render 'comments/form', comment: @comment %>
