<%= form_with(model: candidate, local: true) do |form| %>
  <% if candidate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(candidate.errors.count, "error") %> prohibited this candidate from being saved:</h2>

      <ul>
      <% candidate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :candidate_name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age, id: :candidate_age %>
  </div>

  <div class="field">
    <%= form.label :skills %>
    <%= form.text_area :skills, id: :candidate_skills %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :candidate_status %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, id: :candidate_country %>
  </div>

  <div class="field">
    <%= form.label :education %>
    <%= form.text_field :education, id: :candidate_education %>
  </div>

  <div class="field">
    <%= form.label :source %>
    <%= form.text_field :source, id: :candidate_source %>
  </div>

  <div class="field">
    <%= form.label :experience %>
    <%= form.text_area :experience, id: :candidate_experience %>
  </div>

  <div class="field">
    <%= form.label :github %>
    <%= form.text_field :github, id: :candidate_github %>
  </div>

  <div class="field">
    <%= form.label :experience %>
    <%= form.text_field :experience, id: :candidate_experience %>
  </div>

  <div class="field">
    <%= form.label :expected_salary %>
    <%= form.number_field :expected_salary, id: :candidate_expected_salary %>
  </div>

  <div class="field">
    <%= form.label :marital_status %>
    <%= form.text_field :marital_status, id: :candidate_marital_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
