<%= form_with(model: candidate, local: true) do |form| %>
  <% if candidate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(candidate.errors.count, "error") %> prohibited this candidate from being saved:</h2>

      <ul>
      <% candidate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md form-group">
      <%= form.label :name %>
      <%= form.text_field :name, id: :candidate_name, class:'form-control' %>
    </div>

    <div class="col-md form-group">
      <%= form.label :age %>
      <%= form.number_field :age, id: :candidate_age, class:'form-control' %>
    </div>

    <div class="col-md form-group">
      <%= form.label :country %>
      <%= form.text_field :country, id: :candidate_country, class:'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md form-group">
      <%= form.label :skills %>
      <%= form.text_area :skills, id: :candidate_skills, class:'form-control', rows:'7' %>
    </div>

    <div class="col-md form-group">
      <%= form.label :education %>
      <%= form.text_area :education, id: :candidate_education, class:'form-control', rows:'7' %>
    </div>

    <div class="col-md form-group">
      <%= form.label :experience %>
      <%= form.text_area :experience, id: :candidate_experience, class:'form-control', rows:'7' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md form-group">
      <%= form.label :linked_in %>
      <%= form.text_field :linked_in, id: :candidate_linked_in, class:'form-control' %>
    </div>

    <div class="col-md form-group">
      <%= form.label :github %>
      <%= form.text_field :github, id: :candidate_github, class:'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :status %>
    <%= form.select :status, Candidate.statuses.keys, id: :candidate_status, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :source_id %>
    <%= form.select :source_id, options_from_collection_for_select(Source.all, :id, :name), id: :candidate_source_id, class:'form-control' %>
  </div>
  <div class="row">
    <div class="form-group col">
      <%= form.label :expected_salary %>
      <%= form.number_field :expected_salary, id: :candidate_expected_salary, class:'form-control' %>
    </div>

    <div class="form-group col">
      <%= form.label :marital_status %>
      <%= form.text_field :marital_status, id: :candidate_marital_status, class:'form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= form.label :resume %>
    <% if @candidate.resume.present? %>
      <%= link_to File.basename(@candidate.resume.url),
      "/uploads/candidate/resume/#{candidate.id}/#{File.basename(@candidate.resume.url)}" %>
    <% end %>
    <%= form.file_field :resume, id: :candidate_resume, class:'form-control' %>
  </div>



  <div class="actions">
    <%= form.submit "Submit", class:'btn btn-primary' %>
  </div>
<% end %>


