<p>
  <strong><%= candidate.name %></strong>
</p>

<p>
  <strong>Email:</strong>
  <%= candidate.email %>
</p>

<p>
  <strong>Country:</strong>
  <%= candidate.country %>, resides in <%= candidate.city %>
</p>

<p>
  <strong>Technical skills:</strong>
  <%= simple_format candidate.description %>
</p>

<%= show_if_present("Phone:", "+" + candidate.phone) %>
<%= show_if_present("Skype:", candidate.skype) %>
<%= show_if_present("Linked In:", candidate.linked_in) %>
<%= show_if_present("Github:", candidate.github) %>

<p>
  <strong>Education:</strong>
  <%= simple_format candidate.education %>
  Languages: <%= candidate.spoken_languages %>
</p>


<p>
  <strong>Experience:</strong>
  <%= simple_format candidate.experience %>
</p>

<p>
  <strong>Expected salary:</strong>
  <%= candidate.expected_salary %>
</p>

<p>
  <strong>Marital status:</strong>
  <%= candidate.marital_status %>
</p>

<p>
  <strong>Available in:</strong>
  <%= candidate.availability %>
</p>
<% if candidate.resume.present? %>
  <p>
    <strong>CV:</strong>
    <%= candidate.availability %>
  </p>
<% end %>

