<div class="alert alert-primary" role="alert">
  <div class="row">
    <div class="col">
      Status: <%= @candidate.status %>
    </div>
    <div class="col">
      Source: <%= @candidate.source.name %>
    </div>
    <div class="col">
      Ownership: <%= ownership(@candidate) %>
    </div>
    <div class="col">
      <div class="btn-group" role="group" aria-label="Basic example">
        <%= link_to "Edit candidate", edit_candidate_path(@candidate), class:'btn btn-primary' %>

        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Send resume to
          </button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <%= link_to "Me", { controller: "candidates",
                                action: "send_resume",
                                id: @candidate.id },
                            class:'dropdown-item',
                            data: { disable_with: "Sending..." } %>

            <% @admins.each do |admin| %>
              <%= link_to "#{admin.name}", { controller: "candidates",
                                             action: "send_resume",
                                             id: @candidate.id,
                                             manager: admin.id },
                                          class:'dropdown-item',
                                          data: { disable_with: "Sending..." } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
