<p id="notice"><%= notice %></p>

<div class='row'>
  <div class='col-md-4'>
    <br/>
    <h1>Candidates</h1>
  </div>
  <div class='col-md-3'>
    <br/>
    <%= link_to 'New Candidate', new_candidate_path, class:'btn btn-primary' %>
  </div>
</div>
<br>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="in-progress-tab" data-toggle="tab" href="#in-progress" role="tab" aria-controls="in-progress" aria-selected="true">In Progress</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="hired-tab" data-toggle="tab" href="#hired" role="tab" aria-controls="hired" aria-selected="false">Hired</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="rejected-tab" data-toggle="tab" href="#rejected" role="tab" aria-controls="rejected" aria-selected="false">Rejected</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="withdrawn-tab" data-toggle="tab" href="#withdrawn" role="tab" aria-controls="withdrawn" aria-selected="false">Withdrawn</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="draft-tab" data-toggle="tab" href="#draft" role="tab" aria-controls="draft" aria-selected="false">Draft</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="false">All</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="in-progress" role="tabpanel" aria-labelledby="in-progress-tab">
    <%= render 'candidates', candidates: @in_progress %>
  </div>
  <div class="tab-pane fade" id="hired" role="tabpanel" aria-labelledby="hired-tab">
    <%= render 'candidates', candidates: @hired %>
  </div>
  <div class="tab-pane fade" id="rejected" role="tabpanel" aria-labelledby="rejected-tab">
    <%= render 'candidates', candidates: @rejected %>
  </div>
  <div class="tab-pane fade" id="withdrawn" role="tabpanel" aria-labelledby="withdrawn-tab">
    <%= render 'candidates', candidates: @withdrawn %>
  </div>
  <div class="tab-pane fade" id="draft" role="tabpanel" aria-labelledby="draft-tab">
    <%= render 'candidates', candidates: @draft %>
  </div>
  <div class="tab-pane fade" id="all" role="tabpanel" aria-labelledby="all-tab">
    <%= render 'candidates', candidates: @candidates %>
  </div>
</div>

