<p id="notice"><%= notice %></p>

<div class="alert alert-primary" role="alert">
  <div class="row">
    <div class="col">
      Status: <%= @candidate.status %>
    </div>
    <div class="col">
      Source: <%= @candidate.source.name %>
    </div>
    <div class="col">
      Ownership: <%= ownership(@candidate) %>
    </div>
    <div class="col">
      <div class="btn-group" role="group" aria-label="Basic example">
        <%= link_to "Edit candidate", edit_candidate_path(@candidate), class:'btn btn-primary' %>
        <%= link_to "Send resume to me", { controller: "candidates",
                                           action: "send_resume", id: @candidate.id },
                                         class:'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>

<%= link_to '<- Back', candidates_path, class:'btn btn-success' %>

<div class="row">
  <div class="col">
    <h2>Candidate's info</h2>
    </br>
    <%= render 'personal_info', candidate: @candidate %>
  </div>
  <% if @candidate.assignments.present? %>
    <div class="col">
      <h2>Application's statuses</h2>
      </br>
      <%= render 'status_form', candidate: @candidate %>
    </div>
  <% end %>
</div>
