<p id="notice"><%= notice %></p>

<div class="alert alert-primary" role="alert">
  <div class="row">
    <div class="col">
      Status: <%= @candidate.status %>
    </div>
    <div class="col">
      Source: <%= @candidate.source.name %>
    </div>
    <div class="col">
      Ownership: <%= @candidate.user.name %>
    </div>
  </div>
</div>

<p>
  <strong><%= @candidate.name %></strong>, <%= @candidate.age %> y.o.
</p>

<p>
  <strong>Email:</strong>
  <%= @candidate.email %>
</p>

<p>
  <strong>Country:</strong>
  <%= @candidate.country %>
</p>

<p>
  <strong>Technical skills:</strong>
  <%= simple_format @candidate.skills %>
</p>

<p>
  <strong>Skype:</strong>
  <%= @candidate.skype %>
</p>

<p>
  <strong>Linked In:</strong>
  <%= @candidate.linked_in %>
</p>

<p>
  <strong>Github:</strong>
  <%= @candidate.github %>
</p>

<p>
  <strong>Education:</strong>
  <%= simple_format @candidate.education %>
  Languages: <%= @candidate.spoken_languages %>
</p>


<p>
  <strong>Experience:</strong>
  <%= simple_format @candidate.experience %>
</p>

<p>
  <strong>Expected salary:</strong>
  <%= @candidate.expected_salary %>+ EUR
</p>

<p>
  <strong>Marital status:</strong>
  <%= @candidate.marital_status %>
</p>

<p>
  <strong>Available in:</strong>
  <%= @candidate.availability %>
</p>

<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidates_path %>
