<%= render 'show_header' %>
<%= link_to '<- Back', :back, class:'btn btn-success' %>

<div class="row">
  <div class="col-lg personal_info">
    <h2>Candidate's info</h2>
    </br>
    <%= render 'personal_info', candidate: @candidate %>
  </div>
  <% if @candidate.assignments.present? %>
    <div class="col-lg">
      <h2>Application's statuses</h2>
      </br>
      <%= render 'status_form', candidate: @candidate %>
    </div>
  <% end %>
</div>
<%= render 'shared/event_modal' %>
<% @candidate.assignments.each do |assignment| %>
  <%= render 'assignments/hire_modal', assignment: assignment %>
  <%= render 'assignments/offer_rejected_modal', assignment: assignment %>
  <%= render 'assignments/reject_modal', assignment: assignment %>
  <%= render 'assignments/withdrawn_modal', assignment: assignment %>
<% end %>
<div class="modal-div"></div>
<%= render 'comments/comments', comments: @comments %>
<%= render 'comments/form', comment: @comment %>
