<%= form_with(model: company, local: true) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-3">
      <%= form.label :name %>
      <%= form.text_field :name, id: :company_name, class:'form-control' %>
    </div>

    <% if current_user.has_any_role? :admin, :head %>
      <div class="form-group col-3">
        <%= form.label :pay_type, "Pay scheme" %>
        <%= form.select :pay_type, Company.pay_types.keys, { selected: @company.pay_type }, { class:'form-control' } %>
      </div>

      <% if form.object.rate? %>
        <div class="form-group col-3">
          <%= form.label :rate, "Rate in %" %>
          <%= form.number_field :rate, id: :company_rate,
                                       class:'form-control',
                                       placeholder: "15 (for example)",
                                       step: 0.1,
                                       min: 0 %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="row">
    <div class="form-group col-6">
      <%= form.label :description_ru %>
      <%= form.text_area :description_ru, id: :company_description_ru, class:'form-control', rows: 10 %>
    </div>

    <div class="form-group col-6">
      <%= form.label :description_en %>
      <%= form.text_area :description_en, id: :company_description_en, class:'form-control', rows: 10 %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit "Submit", class:'btn btn-primary' %>
  </div>
<% end %>
