<div class='row'>
  <div class='col-md-4'>
    <br/>
    <h1>Companies</h1>
  </div>
  <div class='col-md-3'>
    <br/>
    <%= link_to 'New Company', new_company_path, class:'btn btn-primary' %>
  </div>
</div>
<br>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <% if current_user.has_any_role? :admin, :head %>
        <th>Payment scheme</th>
      <% end %>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= link_to company.name, company %></td>
        <% if current_user.has_any_role? :admin, :head %>
          <td><%= company.pay_type.humanize %> <%= ": #{company.rate}%" if company.rate? %> </td>
        <% end %>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Delete', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
