<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "IT STARS", dashboard_path, class:'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <% if current_user %>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <%= link_to 'Home', root_path, class:'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Candidates', candidates_path, class:'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Vacancies', vacancies_path, class:'nav-link' %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Settings
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'Companies', companies_path, class:'dropdown-item' %>
            <%= link_to 'Skills', skills_path, class:'dropdown-item' %>
            <%= link_to 'Sources', sources_path, class:'dropdown-item' %>
            <%= link_to 'Chats', chats_path, class:'dropdown-item' %>
            <% if current_user.has_role? :admin %>
              <%= link_to 'Users', users_path, class:'dropdown-item' %>
            <% else %>
              <%= link_to 'My profile', user_path(current_user), class:'dropdown-item' %>
            <% end %>
          </div>
        </li>
        <% if current_user.has_role? :admin %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="reportsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Reports
            </a>
            <div class="dropdown-menu" aria-labelledby="reportsDropdown">
              <%= link_to 'Candidates by Users', candidates_by_users_path, class:'dropdown-item' %>
              <%= link_to 'Sources', candidates_by_sources_path, class:'dropdown-item' %>
              <%= link_to 'Accepted offers', candidates_by_months_path, class:'dropdown-item' %>
              <%= link_to 'Rejects by Companies', rejects_by_companies_path, class:'dropdown-item' %>
              <%= link_to 'Offers by Users', offers_by_users_path, class:'dropdown-item' %>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <%= form_tag results_path, method: :get, role: 'search', class:'form-inline my-2 my-lg-0' do %>
      <%= text_field_tag :query, params[:query], class:'form-control mr-sm-2' %>
      <%= submit_tag "Search", name: nil, class:'btn btn-outline-success my-2 my-sm-0' %>
    <% end %>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete, class:'nav-link btn btn-outline-dark btn-sm' %>
  <% else %>
    <%= link_to 'Login', new_user_session_path, class:'nav-link'  %>
  <% end %>
</nav>
